@model FilmsCatalogTestTask.Data.Models.Category

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParentCategoryId" class="control-label">Parent category</label>
                <select asp-for="ParentCategoryId" class="form-control" asp-items="ViewBag.ParentCategoryId">
                    <option value="">-- Select Parent Category --</option>
                </select>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div class="form-group mt-1">
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Name').change(function () {
                var name = $(this).val();
                var parentCategoryName = $('#ParentCategoryId option:selected').text();

                if (name === parentCategoryName) {
                    $(this).addClass('is-invalid');
                    $(this).siblings('.text-danger').text('Name cannot be the same as Parent Category name.');
                    $('input[type="submit"]').prop('disabled', true);
                } else {
                    $(this).removeClass('is-invalid');
                    $(this).siblings('.text-danger').text('');
                    $('input[type="submit"]').prop('disabled', false);
                }
            });

            $('form').submit(function () {
                var name = $('#Name').val();
                var parentCategoryName = $('#ParentCategoryId option:selected').text();

                if (name === parentCategoryName) {
                    $('#Name').addClass('is-invalid');
                    $('#Name').siblings('.text-danger').text('Name cannot be the same as Parent Category name.');
                    return false;
                }
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
